name: AUR Publisher

run-name: AUR Publisher | ${{ github.event_name }} by ${{ github.actor }} on '${{ github.ref_name }}'

on:
  push:
    branches:
      - main
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

permissions:
  contents: write

env:
  pkgname: ${{ github.ref == 'refs/heads/main' && 'rivetui-git' || 'rivetui' }}

jobs:
  publish-aur:
    name: Publishing to AUR
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH keys
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.AUR_PRIVATE_KEY }}

      - name: Add AUR host key
        run: ssh-keyscan -H aur.archlinux.org >> ~/.ssh/known_hosts
        shell: bash

      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract Git Tag version
        id: version_extract
        run: |
          if [[ ${{ github.ref }} == refs/tags/* ]]; then
            echo "VERSION=$(echo ${{ github.ref_name }} | sed 's/^v//')" >> $GITHUB_OUTPUT
          else
            cat Cargo.toml | grep 'version = ' | head -n 1 | sed 's/version = "//' | sed 's/"//'
          fi
        shell: bash

      - name: Clone AUR Repository
        run: |
          git clone ssh://aur@aur.archlinux.org/"${{ env.pkgname }}".git

          cd "${{ env.pkgname }}"

          git config user.email "servoskull@omnissiah.mars"
          git config user.name "Servo Skull"

      - name: Update PKGBUILD
        run: |
          cd "${{ env.pkgname }}"

          sed -i "s/^pkgver=.*/pkgver=${{ steps.version_extract.outputs.VERSION }}/" PKGBUILD

          sed -i "s/^pkgrel=.*/pkgrel=1/" PKGBUILD

          sed -i "s/^sha256sums=.*/sha256sums=('SKIP')/" PKGBUILD

          sed -i "s/^pkgname=.*/pkgname=${{ env.pkgname }}/" PKGBUILD

      - name: Regenerate .SRCINFO
        run: |
          cd "${{ env.pkgname }}"
          docker run --rm \
            -v $(pwd):/app \
            archlinux/archlinux:latest \
            /bin/bash -c "\
              pacman-key --init && \
              pacman-key --populate archlinux && \
              pacman -Syu --noconfirm base-devel && \
              useradd -m builder && \
              chown -R builder:builder /app && \
              su - builder -c 'cd /app && makepkg --printsrcinfo > .SRCINFO'"
        shell: bash

      - name: AUR Repository Permissions
        run: |
          CURRENT_USER=$(whoami)
          sudo chown -R $CURRENT_USER:$CURRENT_USER "${{ env.pkgname }}"/
        shell: bash

      - name: Commit and Push to AUR
        run: |
          cd "${{ env.pkgname }}"

          git add PKGBUILD .SRCINFO
          git commit -m "Update ${{ env.pkgname }} to version ${{ steps.version_extract.outputs.VERSION }}" || exit 0
          git push
