name: Rust CI/CD

run-name: Rust CI/CD | ${{ github.event_name }} by ${{ github.actor }} on '${{ github.ref_name }}'

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main

jobs:
  ci:
    name: Rust CI
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Cargo Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy, rustfmt

      - name: Run cargo-deny checks
        uses: EmbarkStudios/cargo-deny-action@v1
        with:
          command: "check bans sources"
          manifest-path: "./Cargo.toml"
          rust-version: "1.88.0"

      - name: Pre-build project
        run: cargo build

      - name: Check formatting
        run: cargo fmt --check

      - name: Lint with Clippy
        run: cargo clippy -- -D warnings

      - name: Run Tests
        run: cargo test

  publish-cargo:
    name: Publishing to Cargo
    runs-on: ubuntu-22.04
    if: startsWith(github.ref, 'refs/tags/')
    needs: [ci]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Install cargo-edit
        run: cargo install cargo-edit

      - name: Extract Git Tag version
        id: version_extract
        run: |
          TAG_NAME=${{ github.ref_name }}
          VERSION_NUMBER=$(echo $TAG_NAME | sed 's/^v//')
          echo "VERSION=$VERSION_NUMBER" >> $GITHUB_OUTPUT
        shell: bash

      - name: Update Cargo.toml version
        run: cargo set-version ${{ steps.version_extract.outputs.VERSION }}

      - name: Configure Git User
        run: |
          git config user.email "servoskull@omnissiah.mars"
          git config user.name "Servo Skull"

      - name: Commit version
        run: |
          git add Cargo.toml
          git commit -m "[RELEASE] Bump bersion to ${{ steps.version_extract.outputs.VERSION }} before publishing"

      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_TOKEN }}
